/*============================== ABOUT PAGE =================================== */
/* -------------- Main ----------------- */

/* --- Hero Section --- */

.about-hero {
  width: 100%;
  height: 45rem;
  background-image: url("../assets/images/aboutHeroBG.png");
  position: relative;
  z-index: 38;
}
.about-hero .breadcrumb-menu {
  padding-inline: 0 !important;
}
.about-heroImages {
  width: 100%;
  height: 18rem;
  background-image: url("../assets/images/aboutHero-sm.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  z-index: 40;
}

.about-hero .top {
  width: 100%;
}
.quote-sentence h2 {
  font-weight: 600;
  font-size: var(--body4);
  text-align: center;
  display: inline-flex;
  align-self: center;
  font-style: italic;
  line-height: 1.5;
  margin: 0 1rem;
  background: -webkit-linear-gradient(
    25deg,
    var(--primary-brown),
    var(--secondary-brown)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: transparent;
  text-decoration-color: var(--primary-brown) !important;
}
.quote-sentence {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quote-right {
  display: flex;
  align-self: flex-end;
}
.sign-container {
  display: flex;
  align-items: center;
  width: 11rem;
  gap: 2rem;
  margin: 2rem 0;
}
.sign-container h4 {
  background: -webkit-linear-gradient(
    25deg,
    var(--primary-brown),
    var(--secondary-brown)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: transparent;
  text-decoration-color: var(--primary-brown) !important;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--body2);
}

.about-hero .top .title {
  width: 12rem;
  text-align: left;
  border-bottom: 1px solid var(--primary-green);
  padding-bottom: 1rem;
  margin: 2rem 0;
}

/* -x- Hero Section -x- */
/* --- Clients --- */
.clients {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  place-items: center;
}
.clients .top {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.clients .bottom {
  display: block;
  text-align: center;
}
.clients .top .sub-info {
  font-size: var(--body2);
  font-weight: 400;
}
.clients .bottom h2 {
  background: -webkit-linear-gradient(
    25deg,
    var(--primary-brown),
    var(--secondary-brown)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: var(--body3);
  padding: 1rem 0;
}
.numbers h1 {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  background: url("../assets/images/textBG.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.3rem;
}

/* More About Clients */
.clients-more {
  background: var(--black-clr);
  color: var(--white-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clients-more h2 {
  display: none;
}
.clients-more .columns {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  gap: 1rem;
}
.clients-more .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.clients-more p {
  display: block;
  margin-bottom: 2rem;
  text-align: left;
  font-size: var(--body2);
  font-weight: 300;
}
.clients-more .title {
  color: var(--white-clr);
  margin-inline: auto;
}

/* -x- Clients -x- */

/* --- Priorites --- */
.priorities {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
}
.priorities-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.priorities .title {
  margin-top: var(--sm-margin);
}
.priorities p {
  text-align: center;
  font-size: var(--body2);
  font-weight: 500;
}
.priorities-image {
  width: 100%;
  max-width: 28rem;
  height: 100%;
  position: relative;
  margin-inline: auto;
  overflow: hidden;
}
.priorities-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.priorities-image .brand-name {
  height: 8rem;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.priorities .specialities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: var(--sm-margin) 0;
}
.priorities .specialities .speciality {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.priorities .specialities .speciality h4 {
  font-size: var(--body2);
  font-weight: 600;
  color: var(--primary-green);
}
/* -x- Priorites -x- */

/* ------x------- Main --------x-------- */

@media (min-width: 500px) and (max-width: 768px) {
  .about-heroImages {
    height: 20rem;
  }
}
@media (min-width: 768px) {
  /* --- Hero Section --- */
  .about-hero {
    margin-top: -1rem;
  }
  .about-heroImages {
    height: 26rem;
    background-image: url("../assets/images/aboutHero-md.png");
    background-position: right bottom;
  }

  .about-hero .top {
    width: 26rem;
    margin-right: 2rem;
  }
  .quote-sentence h2 {
    font-size: 32px;
  }
  .about-hero .top .title {
    width: 100%;
  }

  /* -x- Hero Section -x- */
  /* --- Clients --- */

  .clients .top {
    width: 30rem;
  }
  .clients .top .title {
    font-size: var(--md-heading3);
  }
  .clients .top .sub-info {
    font-size: var(--body4);
  }
  .clients .bottom h2 {
    font-size: var(--body6);
  }
  .clients .bottom .numbers h1 {
    font-size: 200px;
  }

  .clients-more .columns {
    grid-template-columns: repeat(2, 1fr);
  }
  /* -x- Clients -x- */
  /* --- Priorites --- */
  .priorities {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .priorities-text {
    align-items: flex-start;
    text-align: left;
  }
  .priorities-text .title {
    margin-top: 0;
    font-size: var(--md-heading3);
  }
  .priorities-image {
    width: 22.5rem;
    height: 20rem;
    margin-bottom: 6rem;
  }
  .priorities p {
    text-align: left;
    font-size: var(--body2);
  }
  .priorities .specialities {
    margin-top: 3rem;
  }

  /* -----x-------- Main -------x------ */

  /* -------------- Footer -------------- */
  /* -----x-------- Footer -------x------ */
  .clients-more .columns {
    flex-direction: row;
    gap: 1rem;
  }

  /* ============x============ ABOUT PAGE ===========x============ */
}
/* ===============x================ ABOUT PAGE ==================x=============- */

@media (min-width: 1040px) {
  /* ================== ABOUT PAGE ================== */
  /* --- Hero Section --- */
  .about-heroImages {
    width: 40rem;
    /* height: 30rem !important; */
    background-image: url("../assets/images/aboutHero-lg.png");
    background-position: top right;
    right: 0;
  }
  .about-hero .top {
    width: 36rem;
  }
  .quote-sentence h2 {
    font-size: 50px;
    line-height: 1;
  }

  /* -x- Hero Section -x- */

  .clients {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: unset;
    align-items: baseline;
    padding: var(--lg-padding) !important;
  }
  .clients .bottom .numbers h1 {
    font-size: 120px;
    margin-top: 1rem;
    text-align: left;
  }
  .clients .bottom {
    text-align: left;
  }
  .clients .top {
    gap: 1rem;
  }
  .clients .top .sub-info {
    text-align: left;
  }
  .clients .top .title {
    font-size: var(--lg-heading2);
    text-align: left;
    padding-bottom: 1rem;
  }
  .clients .bottom h2 {
    font-size: var(--lg-heading2) !important;
  }

  .clients-more {
    height: 42rem;
    background-image: url("../assets/images/COPPERPRO-rotated.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 14rem;
  }
  .clients-more .columns {
    gap: 1rem;
    width: 40rem;
    margin-left: 4rem;
  }
  .clients-more .columns .col {
    width: 100%;
    padding-inline: 1rem;
  }

  /* --- Priorities --- */

  .priorities-image {
    width: 28rem;
    height: 34rem;
    margin-bottom: 0;
  }

  .priorities-text .title {
    font-size: var(--lg-heading2);
  }

  .priorities p {
    font-size: var(--body4);
  }
  .priorities .specialities .speciality h4 {
    font-size: var(--body5);
  }

  /* -x- Priorities -x- */

  /*  ============x======================= ABOUT PAGE ========x========================= */
}
