@import url("reset.css");
@import url("variables.css");
@import url("md-mediaQueries.css");
@import url("lg-mediaQueries.css");
@import url("catalog.css");
@import url("about.css");
@import url("cart-product.css");
@import url("news.css");
@import url("user_profile.css");
@import url("orders.css");
@import url("wishlist.css");
@import url("order_page.css");

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-texts);
}
main img,
footer img {
  display: block;
  overflow: hidden;
}
/* -------------------- Header -------------------- */
header {
  width: 100%;
  background: linear-gradient(-60deg, #0b3f37, #cb8d62);
  padding: var(--sm-padding);
  position: relative;
}
.logo {
  display: block;
}
.header__icons {
  position: absolute;
  top: 0;
  right: 4rem;
}
#openedMenu {
  position: absolute;
  top: 1.6rem;
  right: 0;
  cursor: pointer;
}
#closedMenu {
  position: absolute;
  top: 2rem;
  right: 1rem;
  cursor: pointer;
}
.navbar-md,
.navbar-lg {
  display: none;
}
.navbar-sm__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar-sm {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -90deg,
    var(--primary-brown),
    var(--secondary-brown)
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateY(-200%);
  transition: 0.6s;
}
.navbar-sm .nav-menu {
  flex-direction: column;
  margin-top: 4rem;
  gap: 2rem;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.navbar-sm .nav-menu li a {
  font-size: var(--body6);
  font-weight: 500;
}

.nav-menu a {
  color: var(--white-clr);
}
.nav-menu li:hover a {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* -----x-------------- Header ---------------x---- */

.btn {
  width: 10rem;
  height: 2.5rem;
  text-align: center;
  color: var(--white-clr);
  background: linear-gradient(
    90deg,
    var(--primary-brown),
    var(--secondary-brown)
  );
  /* margin-top: 4rem; */
  font-size: var(--body3);
  line-height: 17.35px;
  font-weight: 800;
  cursor: pointer;
}
/* ---------------------  Hero Slider ------------------------ */
.hero-slider {
  width: 100%;
  height: 100%;
  background: linear-gradient(-60deg, #0b3f37, #cb8d62);
  padding: 0;
}
.hero-slider .navbar {
  padding: var(--sm-padding);
}
.hero-slider .hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero-slider .hero-info {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  color: var(--white-clr);
}
.hero-slider .hero-info h1 {
  font-size: var(--body6);
  font-weight: 400;
  font-family: var(--font-headings);
  text-transform: uppercase;
}
.hero-slider .hero-info .line {
  width: 14rem;
  height: 1px;
  background: linear-gradient(90deg, white, rgba(255, 255, 255, 0.116));
}
.hero-slider .hero-info p {
  width: 15rem;
  font-size: var(--body4);
  font-weight: 800;
  line-height: 1.5;
}
.hero-slider .hero-info .btn {
  width: 12rem;
  margin-top: 2rem;
}
.hero-slider .hero-info .btn a {
  color: var(--white-clr);
}
.hero-slider .hero-price {
  width: 15rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: var(--body2);
}
.hero-slider .hero-price h5 {
  font-weight: 400;
}
.hero-slider .hero-price span {
  font-weight: 800;
}
.hero-slider .hero-images {
  width: 30rem;
  height: 30rem;
}
.hero-slider .hero-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-slider .lg-hero-img,
.hero-slider .md-hero-img {
  display: none;
}
.hero-slider .sm-hero-img {
  display: block;
}
.hero-slider .heroSwiper {
  position: relative;
}
.hero-slider .heroSwiper .swiper-pagination {
  display: flex;
  bottom: 8rem;
  align-self: flex-start;
  margin-left: 1rem;
}

.hero-slider .heroSwiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 0%;
  background: white;
  opacity: 1;
}
.hero-slider .heroSwiper .swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #5e3928, #cb8d62);
}

@media (min-width: 420px) and (max-width: 500px) {
  .hero-slider .hero-images {
    width: 20rem !important;
  }
  .hero-slider .hero-info {
    width: 14rem !important;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .hero-slider .hero-images {
    width: 16rem !important;
  }
  .hero-slider .hero-info {
    width: 18rem !important;
  }
}
/* ------------x--------  Hero Slider -----------x------------ */
/* ----------------------- Main ----------------------- */
.bg-pattern {
  background-image: url("../assets/images/sliderBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}
section {
  padding: var(--md-margin) var(--sm-padding);
  /* margin-bottom: 2rem; */
}
/* -- --- Products Section --- -- */

.title {
  font-weight: 400;
  font-size: var(--body5);
  font-family: var(--font-headings);
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-green);
  padding: 2rem 0;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.products-container .product:last-child {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/img_sales.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product {
  height: 12rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 6;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-title {
  bottom: 2.5rem;
  text-align: center;
  font-size: var(--body2);
  font-weight: 600;
  color: var(--white-clr);
  position: relative;
  z-index: 8;
}
/* -- -x- Products Section -x- -- */

/* -- --- Product Slider --- -- */

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
  color: var(--primary-green);
}

.card-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.card-image .img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-image .heart-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.heart-icon {
  width: 2.5rem;
  height: 4rem;
  background: var(--white-clr);
  text-align: center;
  font-size: 24px;
  padding: 1.5rem 0.2rem 0;
  position: absolute; /* Keep absolute positioning */
  top: 0; /* Adjust top position as needed */
  right: 0; /* Adjust right position as needed */
}

.heart-icon .far.fa-heart {
  color: var(--primary-green);
  transition: color 0.3s;
}

.heart-icon:hover .far.fa-heart,
.heart-icon.active .far.fa-heart {
  color: transparent;
  background-image: linear-gradient(
    25deg,
    var(--primary-brown),
    var(--secondary-brown)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body4);
}
.card a,
.card a:visited{
  color: var(--primary-green);
}
.card-info h3 {
  text-align: left;
  width: 10rem;
  font-weight: 500;
}
.card-info span {
  text-align: right;
  font-weight: 800;
}
.card-image .tag {
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 1rem 1.5rem;
  background: var(--red-clr);
  color: var(--white-clr);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--body4);
  letter-spacing: 0.1rem;
}
.reviews .btn{
  width: 100%;
}
.products-slider .btn {
  width: 16rem;
}
.reviews .btn,
.products-slider .btn {
  display: block;
  margin: 2rem auto;
}
.reviews .swiper-pagination-bullet,
.products-slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 0%;
  background: var(--black-clr);
  opacity: 1;
}
.reviews .swiper-pagination-bullet-active,
.products-slider .swiper-pagination-bullet-active {
  background: linear-gradient(
    90deg,
    var(--primary-brown),
    var(--secondary-brown)
  );
}

.products-slider .btn a{
  color: var(--white-clr);
}
/* -- -x- Product Slider -x- -- */
/* --- Banner Section --- */

.banner {
  width: 100%;
  height: 36rem;
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 0;
}

.banner-header {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10;
}

.banner-image {
  width: 100%;
  height: 36rem;
  position: relative;
  right: 0;
  bottom: -0.5rem;
  z-index: 9;
  background-image: url("../assets/images/bannerr.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-header {
  color: var(--white-clr);
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 1rem;
}
.banner-title {
  font-size: var(--md-heading1);
  font-weight: 400;
  font-family: var(--font-headings);
}
.banner-header p {
  font-weight: 600;
  font-size: 14px;
  width: 10rem;
}
.banner-header .btn {
  width: 20rem;
  height: 3rem;
}
.banner-header .btn a {
  color: var(--white-clr);
}

/* -x- Banner Section -x- */
/* -- --- Review Section --- -- */
.reviews .card {
  width: 100%;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: var(--sm-margin);
  align-items: left;
  position: relative;
  color: var(--primary-green);
}
.review-image {
  width: 4rem;
  height: 4rem;
  align-self: flex-start;
}
.review-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.quote {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.review .username {
  font-size: var(--body3);
  font-weight: 600;
}
.review .content {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.1rem;
  padding-right: 2rem;
  margin: 1.5rem 0 1rem;
}
.review .date {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
/* -- -x- Review Section -x- -- */

/* --- Reasons to choose us --- */
.reasons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  text-align: left;
  margin: var(--sm-margin) 0;
}
.reason {
  width: 100%;
  height: 100%;
}
.reason .sub-title {
  font-size: var(--body2);
  font-weight: 800;
  letter-spacing: 0.01rem;
  margin: 1rem 0;
  text-transform: capitalize;
}
.reason p {
  font-weight: 300;
  font-size: var(--body1);
  margin: 1rem 0;
}
.reason-image {
  width: 50px;
  height: 50px;
  background: linear-gradient(-45deg, #0b3f37, #cb8d62);
}
.reason-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.reason .read-more {
  justify-content: space-between;
}
.reason .read-more,
.read-more {
  display: flex;
  align-items: center;
}
.reason .read-more a,
.read-more a {
  font-size: 14px;
  font-weight: 800;
  background: -webkit-linear-gradient(
    25deg,
    var(--primary-brown),
    var(--secondary-brown)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* -x- Reasons to choose us -x- */
/* -----x-----------------------  Main ----------------------x------  */

/* -------------  Footer -------------  */
.footer {
  /* margin-top: -2rem; */
  padding: var(--sm-margin) var(--sm-padding);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
}
.footer-logo {
  margin: 2rem 0 1rem;
  width: 175px;
  height: 45px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.footer .top {
  font-size: var(--body1);
}
.footer .top .rights {
  font-weight: 300;
  color: var(--secondary-gray);
}
.footer .top .privacy a {
  font-weight: 100;
  color: var(--white-clr);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.footer .bottom {
  margin: 2rem 0;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.toTop {
  display: none;
  position: fixed;
  bottom: 0;
  right: 2rem;
  width: 4rem;
  height: 6rem;
  cursor: pointer;
  z-index: 10000000;
  background: linear-gradient(180deg, #5e3928 20.13%, #e4a16f 92.93%);
  transform: 0.8s;
}
.toTop h5 {
  transform: rotate(90deg);
  margin-top: 3rem;
  font-size: var(--body2);
  text-transform: uppercase;
  color: var(--white-clr);
}
.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.footer-menu h4 {
  font-size: var(--body2);
  font-weight: 800;
  color: var(--white-clr);
  margin-bottom: 1rem;
}
.footer-menu li a {
  color: var(--white-clr);
  font-size: 14px;
  font-weight: 400;
}
.footer-menu li:hover a {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.socials .fa-brands {
  color: var(--white-clr);
  line-height: 1.5;
}
/* -----x-------  Footer ------x------  */

/* ------------------------------------------------- */

.breadcrumb-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  padding: var(--sm-margin) var(--sm-padding) 0;
}
.breadcrumb-menu li a {
  font-size: var(--body2);
  line-height: 15.42px;
  color: var(--primary-green);
}

.breadcrumb-menu li:first-child {
  font-weight: 200;
}
.breadcrumb-menu li:last-child {
  font-weight: 800;
}

.heading {
  display: block;
  padding-inline: var(--sm-padding);
}
.heading .title {
  text-align: left;
}
/* --- Paginations --- */
.paginations {
  width: 100%;
  height: 100%;
}
.paginations,
.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.page-numbers {
  font-size: var(--body5);
  line-height: 24.1px;
  font-weight: 800;
}
.page-numbers li {
  color: var(--secondary-gray);
  background: var(--white-clr);
  cursor: pointer;
}
.page-numbers .active {
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
  color: var(--white-clr);
}
.page-number,
.prevBtn,
.nextBtn {
  width: 2.5rem;
  height: 3rem;
  text-align: center;
  border: 1px solid var(--secondary-gray);
}
.nextBtn::after {
  font-family: "FontAwesome";
  content: "\f105";
}
.prevBtn::after {
  font-family: "FontAwesome";
  content: "\f104";
}
.page-number {
  padding-top: 0.6rem;
}
.prevBtn,
.nextBtn {
  padding-top: 0.7rem;
  font-size: var(--body3);
  color: var(--secondary-gray);
}
.prevBtn:disabled,
.nextBtn:disabled {
  cursor: not-allowed;
}
/* -x- Paginations -x- */

/* ===============================  Order Thanks PAGE ===============================- */
.header-order {
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
  text-align: center;
  padding: 2rem 0;
}
.thanks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem !important
}
.thanks .title {
  font-size: 1.625rem;
}
.order-image {
  width: 16rem;
  height: 15rem;
  display: block;
  margin: 2rem auto;
}
.order-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.order-info {
  width: 70%;
  margin: auto;
  text-align: center;
  color: var(--primary-green);
  font-size: var(--body4);
  font-style: normal;
  font-weight: 500;
}
.thanks .btn {
  width: 28rem;
  height: 4rem;
  font-family: var(--font-texts);
  margin-top: 2rem;
}
.thanks .btn a{
  color: var(--white-clr);
}
.footer-order {
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  text-align: center;
}
.footer-order .bottom {
  font-size: var(--body1);
}
.footer-order .bottom .rights {
  font-weight: 300;
  color: var(--secondary-gray);
  margin-bottom: 0.5rem;
}
.footer-order .bottom .privacy a {
  font-weight: 100;
  color: var(--white-clr);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
/* ===============x================ Order Thanks  PAGE ==================x=============- */

/* =============================== Login PAGE ===============================- */
.back-to-home {
  padding-inline: var(--sm-padding);
  margin: 1rem auto;
  width: 100%;
  height: 4rem;
  text-align: center;
}
.back-to-home button {
  width: 100%;
  height: 4rem;
  text-align: center;
  font-size: var(--body3);
  font-family: var(--font-texts);
  font-weight: 800;
  padding: 1rem 2rem;
  background: none;
  border: 1px solid var(--secondary-gray);
  cursor: pointer;
}
.back-to-home button a {
  color: var(--secondary-gray);
}
.login,
.register {
  width: 20rem;
  box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.05);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.form-container h1 {
  padding-top: 2rem;
}
.form-container {
  width: 100%;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
/* .form-container  */
.form input {
  width: 16rem;
  height: 3rem;
  border: 2px solid var(--secondary-lightGray);
  padding: 1rem;
  text-align: left;
}
/* .form-container  */
.form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  padding: 1rem;
}
/* .form-container  */
.form input::-moz-placeholder {
  /* Firefox 19+ */
  padding: 1rem;
}
/* .form-container  */
.form input:-ms-input-placeholder {
  /* IE 10+ */
  padding: 1rem;
}
/* .form-container  */
.form input:-moz-placeholder {
  /* Firefox 18- */
  padding: 1rem;
}
.form-container .form .btn-text {
  text-align: center;
  font-size: var(--body3);
  font-weight: 600;
  text-decoration-line: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: var(--primary-brown);
  background: none;
}
.form-container .form .btn-text a {
  background: linear-gradient(
    150deg,
    var(--primary-brown) 0%,
    var(--secondary-brown) 91.15%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-container .form .btn {
  margin-top: 0;
  width: 16rem;
  height: 3rem;
  margin-bottom: 6rem;
}
.form-container .form .btn a {
  color: var(--white-clr);
}
.form-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background: linear-gradient(331deg, #0b3f37 0%, #cb8d62 96.96%);
  color: var(--white-clr);
  margin-top: 4rem;
  text-align: center;
  font-size: var(--body2);
}
.form-bottom h5:first-child {
  font-weight: 500;
}
.form-bottom .form-link {
  font-weight: 800;
  color: var(--white-clr);
}
/* ===============x================ Login PAGE ==================x=============- */

/* =============================== Product Basket PAGE ===============================- */
.product-basket-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.product-basket {
  border-bottom: 1px solid var(--secondary-lightGray);
  position: relative;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.product-basket .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.product-basket .row img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}
.product-basket .row h4 {
  font-size: var(--body2);
  font-weight: 800;
  color: var(--primary-green);
}
.product-basket .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-basket .product-units {
  font-size: var(--body4);
  display: flex;
  color: var(--primary-green);
}
.product-basket .product-units span {
  font-weight: 400;
  margin-right: 4px;
}
.product-basket .product-units p {
  font-weight: 600;
}
.product-basket .currentPrice {
  font-size: var(--body4);
}
.product-basket .prevPrice {
  font-size: 14px;
}
.product-basket i {
  color: var(--secondary-lightGray);
  position: absolute;
  right: 0.5rem;
  top: -1rem;
  cursor: pointer;
}

.product-basket-total {
  max-width: 20rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 4rem;
  position: relative;
}
.product-basket-total .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: var(--primary-green);
  border-bottom: 2px solid var(--secondary-lightGray);
  padding: 1rem 0;
}

.product-basket-total .top .sub-title {
  font-size: var(--body5);
  font-weight: 400;
}
.product-basket-total .top .basket-total {
  font-size: var(--body6);
  font-weight: 800;
}
.product-basket-total .cart-img {
  position: absolute;
  top: -1rem;
  right: 0;
}
.product-basket-total .bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.product-basket-total .bottom h4 {
  color: var(--secondary-gray);
  font-weight: 400;
}
.product-basket-total .btn {
  width: 100%;
}
/* ===============x================ Product Basket PAGE ==================x=============- */


.navigations {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
.nav-btn {
  width: 100%;
  background-color: #cb8d62;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 1rem;
  color: var(--white-clr);
  font-size: var(--body3);
  font-weight: 800;
  text-transform: capitalize;
  cursor: pointer;
  background: linear-gradient(278.32deg, #0b3f37 -7.03%, #cb8d62 136.33%);
}
.nav-btn.active {
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
}
.nav-btn.text {
  background: none;
  color: var(--primary-green);
  padding: 0;
}
