/* For devices resolutions are between 1024px and 1320px */
@media screen and (min-width: 1024px) {
  header,
  section,
  footer {
    padding-inline: var(--lg-padding) !important;
  }
  section {
    padding-bottom: var(--md-margin) !important;
    margin-bottom: 4rem !important;
  }
  /* --------- Header --------- */
  header {
    padding-top: var(--sm-padding) !important;
    padding-bottom: var(--sm-padding) !important;
    z-index: 10000;
  }
  .navbar-sm,
  .navbar-md {
    display: none !important;
  }
  .navbar {
    display: flex !important;
    align-items: center !important;
    gap: 4rem !important;
  }
  .navbar-lg {
    display: block !important;
  }
  /* ---- Hero Slider ---- */
  .hero-slider {
    overflow-x: hidden;
  }
  .hero-slider .navbar {
    padding-inline: var(--lg-padding) !important;
  }
  .hero-slider .hero-images {
    width: 46rem !important;
    height: 34rem !important;
  }
  .hero-slider .lg-hero-img {
    display: block !important;
  }
  .hero-slider .md-hero-img,
  .hero-slider .sm-hero-img {
    display: none !important;
  }
  .hero-slider .hero-info {
    margin-top: 4rem !important;
    width: 22rem !important;
    padding-left: var(--lg-padding) !important;
  }
  .hero-slider .heroSwiper .swiper-pagination {
    margin-left: 5rem !important;
    bottom: 4rem !important;
  }
  /* --x- Hero Slider -x-- */
  /* ----x---- Header ---x---- */

  /* --------- Main --------- */
  .title {
    font-size: var(--lg-heading2) !important;
  }

  /* --- Products --- */
  .product-title {
    font-size: var(--body5) !important;
    bottom: 4rem !important;
  }

  .fly-numbers span:nth-child(1) {
    font-size: var(--md-heading3) !important;
  }
  .fly-numbers span:nth-child(2) {
    font-size: var(--md-heading1) !important;
  }
  .fly-numbers span:nth-child(3) {
    top: 12rem !important;
    font-size: var(--lg-heading1) !important;
  }

  /* -x- Products -x- */

  /* --- Banner Section --- */
  .banner {
    height: 15rem !important;
    padding-left: var(--lg-padding) !important;
  }
  .banner-image {
    height: 15.5rem !important;
    bottom: 0 !important;
    right: -3rem !important;
    background-image: url("../assets/images/banner-lg.png") !important;
  }

  .banner-title {
    font-size: var(--lg-heading2) !important;
  }
  .banner-header {
    gap: 1rem !important;
    left: 4rem !important;
    margin: 0 !important;
  }
  .banner-header p {
    font-size: var(--body2) !important;
  }
  /* -x- Banner Section -x- */

  /* --- Reasons to choice us --- */
  .reasons {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 2rem !important;
  }
  /* -x- Reasons to choice us -x- */
  /* ----x---- Main ---x---- */
  /* --------- Footer -------- */
  .footer {
    flex-direction: row !important;
    gap: 6rem !important ;
  }
  .footer .bottom {
    gap: 1rem !important;
  }
  /* ----x---- Footer ---x---- */


  .breadcrumb-menu {
    padding: var(--lg-padding) var(--lg-padding) 0 !important;
  }

 
  /*  =================================== CATALOG PAGE ================================= */
  .products-container.catalog {
    grid-template-rows: repeat(1, 1fr) !important;
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .product {
    height: 24rem !important;
  }
  .heading {
    padding-inline: var(--lg-padding) !important;
  }

  /* --- Products Catalog --- */
  .catalog-products {
    padding: var(--lg-margin) var(--lg-padding) !important;
  }
  .products-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  /* -x- Products Catalog -x- */

  /*  ============x======================= CATALOG PAGE ========x========================= */

  /* =============================== Product Order PAGE ==============================- */

  .order-header {
    flex-direction: row !important;
    gap: 4rem;
  }
  .order-header .back-to-home {
    position: static !important;
    margin: 0 !important;
  }
  .order-header .title {
    font-size: var(--md-heading3) !important;
  }

  .account-box {
    background-position: right 3rem !important;
  }

  .account-box .btns .btn {
    width: 12rem !important;
  }
  .account-box i {
    width: 5rem !important;
    height: 5rem !important;
    padding-top: 1.2rem !important;
    font-size: 2rem !important;
  }

  .details .form {
    width: 76% !important;
  }
  .order-body {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .total {
    margin-top: -2rem !important;
    width: 27rem !important;
  }

  /* ===============x================ Product Order PAGE ==================x=============- */
  /* ============================== Profile PAGE =============================- */

  .section-details {
    grid-template-columns: 18rem 100% !important;
    /* gap: 4rem !important; */
  }
  .section-details .informations .details {
    width: fit-content !important;
  }
  .profile .section-details .informations .details .form .col input {
    width: 16rem !important;
  }

  .profile .informations .details .form .col .nav-btn {
    width: 16rem !important;
  }
  .profile .title {
    font-size: var(--lg-heading2) !important;
  }
  .navigations {
    width: 18rem !important;
    flex-direction: column !important;
    gap: 1rem !important;
  }
  .nav-btn {
    width: 16rem !important;
  }
  .profile .informations {
    width: 42rem !important;
  }
  .profile .informations .details .form .col input {
    width: 20.5rem !important;
  }

  /* =================x============= Profile PAGE ===============x==============- */

  /* ================================ Wish List PAGE ===================================== */

  .wish-list {
    margin-bottom: 0 !important;
  }
  .wish-list .section-details {
    grid-template-columns: 18rem 44rem;
    gap: 0 !important;
  }
  .section-details .catalog-products {
    padding: 0 !important;
    width: 44rem;
  }
  .wish-list .section-details .catalog-products .products-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .wish-list .section-details .paginations,
  .page-numbers {
    align-items: unset !important;
    height: 5rem !important;
  }
  .wish-list .section-details .card-info h3 {
    width: 12rem !important;
  }
  /* ================x=============== Wish List PAGE ===================x================= */
}

