/* For devices resolutions are between 1024px and 1320px */
@media screen and (min-width: 1024px) {
  header,
  section,
  footer {
    padding-inline: var(--lg-padding) !important;
  }
  /* --------- Header --------- */
  header {
    padding-top: var(--sm-padding) !important;
    padding-bottom: var(--sm-padding) !important;
  }
  .navbar-sm,
  .navbar-md {
    display: none !important;
  }
  .navbar {
    display: flex !important;
    align-items: center !important;
    gap: 4rem !important;
  }
  .navbar-lg {
    display: block !important;
  }
  /* ---- Hero Slider ---- */
  .hero-slider .navbar {
    padding-inline: var(--lg-padding) !important;
  }
  .hero-slider .hero-images {
    width: 46rem !important;
    height: 34rem !important;
  }
  .hero-slider .lg-hero-img {
    display: block !important;
  }
  .hero-slider .md-hero-img,
  .hero-slider .sm-hero-img {
    display: none !important;
  }
  .hero-slider .hero-info {
    margin-top: 4rem !important;
    width: 22rem !important;
    padding-left: var(--lg-padding) !important;
  }
  .hero-slider .heroSwiper .swiper-pagination {
    margin-left: 5rem !important;
    bottom: 4rem !important;
  }
  /* --x- Hero Slider -x-- */
  /* ----x---- Header ---x---- */

  /* --------- Main --------- */
  .title {
    font-size: var(--lg-heading2) !important;
  }

  /* --- Products --- */
  .product-title {
    font-size: var(--body5) !important;
    bottom: 4rem !important;
  }

  .fly-numbers span:nth-child(1) {
    font-size: var(--md-heading3) !important;
  }
  .fly-numbers span:nth-child(2) {
    font-size: var(--md-heading1) !important;
  }
  .fly-numbers span:nth-child(3) {
    top: 12rem !important;
    font-size: var(--lg-heading1) !important;
  }

  /* -x- Products -x- */

  /* --- Banner Section --- */
  .banner {
    height: 14.5rem !important;
  }
  .banner-image {
    height: 15.5rem !important;
    bottom: 0.5rem !important;
    right: -4rem !important;
    background-image: url("../assets/images/banner-lg.png") !important;
  }

  .banner-title {
    font-size: var(--lg-heading2) !important;
  }
  .banner-header {
    gap: 1rem !important;
    margin: 0 !important;
  }
  .banner-header p {
    font-size: var(--body2) !important;
  }
  /* -x- Banner Section -x- */

  /* --- Reasons to choice us --- */
  .reasons {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 2rem !important;
  }
  /* -x- Reasons to choice us -x- */
  /* ----x---- Main ---x---- */
  /* --------- Footer -------- */
  .footer {
    flex-direction: row !important;
    gap: 6rem !important ;
  }
  .footer .bottom {
    gap: 1rem !important;
  }
  /* ----x---- Footer ---x---- */

  /* ================== ABOUT PAGE ================== */
  .breadcrumb-menu {
    padding: var(--lg-padding) var(--lg-padding) 0 !important;
  }
  /* --- Hero Section --- */
  .about-heroImages {
    height: 30rem !important;
    background-image: url("../assets/images/aboutHero-lg.png") !important;
    background-position: top right !important;
  }
  .about-hero .top {
    width: 36rem !important;
  }
  .quote-sentence h2 {
    font-size: 50px !important;
    line-height: 1 !important;
  }

  /* -x- Hero Section -x- */

  .clients {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2rem;
    place-items: unset !important;
  }
  .clients .bottom .numbers h1 {
    font-size: 140px !important;
    margin-top: 1rem;
    text-align: left !important;
  }
  .clients .bottom {
    text-align: left !important;
  }
  .clients .top {
    gap: 1rem !important;
  }
  .clients .top .sub-info {
    text-align: left !important;
  }
  .clients .top .title {
    font-size: var(--lg-heading2) !important;
    text-align: left !important;
  }
  .clients .bottom h2 {
    font-size: var(--lg-heading2) !important;
  }

  .clients-more .columns {
    gap: 1rem !important;
  }
  .clients-more .columns .col {
    width: 100%;
    padding-inline: 1rem;
  }

  /* --- Priorities --- */

  .priorities-image {
    width: 28rem !important;
    height: 34rem !important;
    margin-bottom: 0 !important;
  }

  .priorities-text .title {
    font-size: var(--lg-heading2) !important;
  }

  .priorities p {
    font-size: var(--body4) !important;
  }
  .priorities .specialities .speciality h4 {
    font-size: var(--body5) !important;
  }

  /* -x- Priorities -x- */

  /*  ============x======================= ABOUT PAGE ========x========================= */
  /*  =================================== CATALOG PAGE ================================= */
  .products-container.catalog {
    grid-template-rows: repeat(1, 1fr) !important;
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .heading {
    padding-inline: var(--lg-padding) !important;
  }

  /* --- Products Catalog --- */
  .catalog-products {
    padding: var(--lg-margin) var(--lg-padding) !important;
  }
  .products-list {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  /* -x- Products Catalog -x- */

  /*  ============x======================= CATALOG PAGE ========x========================= */

  /*  =================================== NEWS PAGE ================================= */
  .news {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  /*  ============x======================= NEWS PAGE ========x========================= */
  /*  =================================== NEWS Post PAGE ================================= */

  .heading.post .title {
    width: 50% !important;
    font-size: var(--md-heading3) !important;
  }
  .post-bottom {
    margin-bottom: 2rem;
  }

  .post-bottom .share {
    margin-top: -3rem !important;
  }

  /*  ============x======================= NEWS Post PAGE ========x========================= */

  /*  =================================== Product Detail PAGE ================================= */
  .product-details {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1rem;
  }
  .product-image .card-image {
    width: 100% !important;
  }
  .product-detail .title {
    padding: 0 0 2rem !important;
  }
  .product-detail .product-desc {
    margin-top: 2rem !important;
  }

  .section.product-desc {
    padding-bottom: 2rem !important;
  }
  .product-header {
    margin-top: 2rem !important;
  }
  /*  ============x======================= Product Detail PAGE ========x========================= */

  /* =============================== Product Order PAGE ==============================- */

  .order-header {
    flex-direction: row !important;
    gap: 4rem;
  }
  .order-header .back-to-home {
    position: static !important;
    margin: 0 !important;
  }
  .order-header .title {
    font-size: var(--md-heading3) !important;
  }

  .account-box {
    background-position: right 3rem !important;
  }

  .account-box .btns .btn {
    width: 12rem !important;
  }
  .account-box i {
    width: 5rem !important;
    height: 5rem !important;
    padding-top: 1.2rem !important;
    font-size: 2rem !important;
  }

  .details .form {
    width: 76% !important;
  }
  .order-body {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .total {
    margin-top: -2rem !important;
    width: 27rem !important;
  }

  /* ===============x================ Product Order PAGE ==================x=============- */
  /* ============================== Profile PAGE =============================- */
  .profile-details {
    grid-template-columns: 18rem 100% !important;
    /* gap: 4rem !important; */
  }

  .profile .title {
    font-size: var(--lg-heading2) !important;
  }
  .navigations {
    width: 18rem !important;
    flex-direction: column !important;
    gap: 1rem !important;
  }
  .nav-btn {
    width: 16rem !important;
  }
  .profile .informations {
    width: 42rem !important;
  }
  .profile .informations .details .form .col input {
    width: 20.5rem !important;
  }
  .profile .informations .details .form .col .nav-btn {
    width: 20.5rem !important;
  }
  /* =================x============= Profile PAGE ===============x==============- */
}
