/* For tablet type devices */

@media screen and (min-width: 768px) {
  /* --------- Header -------- */

  /* --- Navbar --- */
  .navbar {
    padding-inline: var(--md-padding) !important;
  }
  .navbar .icons #heart-icon {
    display: block !important;
  }
  .sm.nav-menu,
  .navbar #openedMenu {
    display: none !important;
  }
  .lg.nav-menu {
    display: block !important;
    position: absolute;
    top: 6rem;
    left: 8rem;
  }
  .lg.nav-menu .nav-links {
    flex-direction: row;
    font-weight: 500;
    font-size: var(--body2);
    line-height: 15.42px;
    gap: 2rem !important;
  }
  .lg.nav-menu .nav-links li a {
    color: var(--white-clr);
  }
  .lg.nav-menu .nav-links li:hover a {
    background: -webkit-linear-gradient(
      25deg,
      var(--primary-brown),
      var(--secondary-brown)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* -x- Navbar -x- */
  /* --- Hero Slider --- */
  .swiper-slide.hero-card {
    background-image: url("../assets/images/md-hero-bg.png") !important;
    background-size: 20rem 40rem !important;
  }
  .header .swiper-pagination {
    margin-inline: 3.6rem !important;
  }
  .text {
    display: block !important;
    position: absolute;
    right: 19rem;
    bottom: 4.6rem;
    width: 5rem;
    font-size: 40px;
    font-weight: 400;
    line-height: 67.41px;
    font-family: var(--font-headings);
    z-index: -1;
  }
  .hero-info {
    width: 70% !important;
    padding: 8rem 4rem 2rem !important;
  }
  .hero-title {
    font-size: var(--md-heading1) !important;
    line-height: 68.94px !important;
  }
  .hero-text {
    font-size: var(--md-heading2) !important;
    line-height: 38.52px !important;
  }
  .price-container {
    gap: 4rem !important;
    line-height: 23.14px !important;
    font-size: var(--body3) !important;
  }
  /* -x- Hero Slider -x- */
  /* ----x---- Header ---x---- */

  /* --------- Main --------- */
  .product-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .product-title {
    font-size: var(--body3) !important;
    line-height: 19.28px !important;
  }

  .products,
  .top-products,
  .new-products,
  .suggested-products,
  .discounted-products,
  .reviews,
  .reasonSection {
    padding-inline: var(--md-padding) !important;
  }
  /* ----x---- Main ---x---- */
  /* --------- Footer -------- */
  .footer {
    padding-inline: var(--md-padding) !important;
  }
  .bottom {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(1, 1fr) !important;
    gap: 2rem !important;
  }
  /* ----x---- Footer ---x---- */

  /* ========================= ABOUT PAGE ======================== */

  /* -------------- Header -------------- */
  .header.header2 {
    width: 100% !important;
    height: 100% !important;
  }
  .navbar.nav {
    width: 100%;
    height: 8rem !important;
  }
  .navbar.nav .logo {
    margin-bottom: 2rem !important;
  }

  /* -----x-------- Header -------x------ */

  /* -------------- Main -------------- */
  /* --- Hero Section --- */
  .about-hero {
    padding-inline: var(--md-padding) !important;
  }
  .about-hero .hero {
    margin: 5rem 0 0 !important;
    /* position: relative; */
  }
  .about-hero .hero .text-title {
    width: 36rem !important;
  }
  .about-hero .hero .text-title h1 {
    font-size: var(--md-heading1) !important;
    line-height: 44.94px !important;
  }
  .quote-sentence {
    margin: 4rem 10rem 0 0 !important;
  }
  .quote-sentence h2 {
    width: 30rem !important;
    font-size: var(--body6) !important;
    line-height: 32.37px !important;
  }
  .sign-container {
    position: relative;
    top: 4rem;
  }
  .sign-container h4 {
    width: 6rem !important;
    font-size: var(--body4) !important;
    line-height: 17.35px !important;
  }
  .hero-images {
    position: relative;
    top: -3rem;
    justify-content: flex-end !important;
    margin: 0 0 !important;
  }
  .md-about-hero1,
  .md-about-hero2 {
    display: block !important;
  }
  .sm-about-hero1,
  .sm-about-hero2 {
    display: none !important;
  }
  /* -x- Hero Section -x- */

  /* --- Clients --- */
  .clients {
    padding: var(--md-margin) var(--md-padding) !important;
  }
  .clients .top {
    width: 30rem !important;
  }
  .clients .top .title {
    font-size: var(--md-heading3);
    line-height: 29.96px;
  }
  .clients .top .sub-info {
    font-size: var(--body4) !important;
    line-height: 24.98px !important;
  }
  .clients .bottom h2 {
    font-size: var(--body6) !important;
    line-height: 28.92px !important;
  }
  .clients .bottom .numbers h1 {
    font-size: 200px !important;
    line-height: 241px !important;
  }

  .clients-more {
    padding: var(--md-margin) var(--md-padding) var(--md-padding) !important;
  }
  .clients-more .columns {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  /* -x- Clients -x- */
  /* --- Priorites --- */
  .priorities {
    padding: var(--md-margin) var(--md-padding) !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2rem !important;
  }
  .priorities-text {
    align-items: flex-start !important;
    text-align: left !important;
  }
  .priorities-text .title {
    margin-top: 0 !important;
    font-size: var(--md-heading3) !important;
    line-height: 42.36px !important;
  }
  .priorities-image {
    width: 22.5rem !important;
    height: 20rem !important;
    margin-bottom: 6rem !important;
  }
  .priorities p {
    text-align: left !important;
    font-size: var(--body2) !important;
    line-height: 19.98px !important;
  }
  .priorities .specialities {
    margin-top: 3rem !important;
  }

  /* -----x-------- Main -------x------ */

  /* -------------- Footer -------------- */
  /* -----x-------- Footer -------x------ */
  .clients-more .columns {
    flex-direction: row !important;
    gap: 1rem !important;
  }

  /* ============x============ ABOUT PAGE ===========x============ */
  /* ========================= CATALOG PAGE ======================== */


  /* --- Catalog Header --- */

.catalog-header {
  padding: var(--md-margin) var(--md-padding) !important;
}
.catalog-title .title {
  font-size: var(--md-heading1) !important;
  line-height: 44.94px !important;
}
.catalog-card {
  width: 20rem !important;
  /* height: 10rem; */
}
.catalog-card h4{
  font-size: var(--body4) !important;
  line-height: 19.28px !important;
}
  /* -x- Catalog Header -x- */

  /* ===========x============= CATALOG PAGE ============x=========== */
}

/* ========================================================== */
@media screen and (min-width: 800px) {
  .lg.nav-menu {
    left: 10rem;
  }
  .lg.nav-menu .nav-links {
    gap: 3rem !important;
  }
}
@media screen and (min-width: 900px) {
  .lg.nav-menu .nav-links {
    gap: 4rem !important;
  }
}
