/* For tablet type devices */

@media screen and (min-width: 768px) {
  header,
  section,
  footer {
    padding: 0 var(--md-padding) !important;
  }
  /* ----------------- Header ---------------- */

  #openedMenu {
    display: none !important;
  }
  .navbar-sm,
  .navbar-lg {
    display: none !important;
  }
  .logo,
  .navbar-md {
    display: block !important;
  }
  .navbar-md {
    margin: 2rem 0 1rem !important;
  }
  .nav-menu {
    flex-direction: row !important;
    font-weight: 500 !important;
    font-size: var(--body2) !important;
    gap: 2rem !important;
  }
  .nav-menu li a {
    color: var(--white-clr) !important;
  }
  .nav-menu li:hover a {
    background: -webkit-linear-gradient(
      25deg,
      var(--primary-brown),
      var(--secondary-brown)
    ) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }
  /* -----------------x---- Header ----------------x---- */

  /* ------------------- Main ------------------- */

  section {
    margin-bottom: 2rem;
  }
  .products-container {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }
  .product-title {
    font-size: var(--body3) !important;
  }

  /* --------------------x---- Main -------------------x---- */

  /* ----------------------- Footer ---------------------- */

  .footer .bottom {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(1, 1fr) !important;
    gap: 2rem !important;
  }
  /* ----x------------------ Footer -----------------x---- */

  /* ========================= ABOUT PAGE ======================== */

  /* -------------- Main -------------- */

  .breadcrumb-menu {
    padding: var(--md-padding) !important;
  }
  /* --- Clients --- */

  .clients .top {
    width: 30rem !important;
  }
  .clients .top .title {
    font-size: var(--md-heading3);
  }
  .clients .top .sub-info {
    font-size: var(--body4) !important;
  }
  .clients .bottom h2 {
    font-size: var(--body6) !important;
  }
  .clients .bottom .numbers h1 {
    font-size: 200px !important;
  }

  .clients-more .columns {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  /* -x- Clients -x- */
  /* --- Priorites --- */
  .priorities {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 2rem !important;
  }
  .priorities-text {
    align-items: flex-start !important;
    text-align: left !important;
  }
  .priorities-text .title {
    margin-top: 0 !important;
    font-size: var(--md-heading3) !important;
  }
  .priorities-image {
    width: 22.5rem !important;
    height: 20rem !important;
    margin-bottom: 6rem !important;
  }
  .priorities p {
    text-align: left !important;
    font-size: var(--body2) !important;
  }
  .priorities .specialities {
    margin-top: 3rem !important;
  }

  /* -----x-------- Main -------x------ */

  /* -------------- Footer -------------- */
  /* -----x-------- Footer -------x------ */
  .clients-more .columns {
    flex-direction: row !important;
    gap: 1rem !important;
  }

  /* ============x============ ABOUT PAGE ===========x============ */
  /* ========================= CATALOG PAGE ======================== */

  /* --- Catalog Header --- */

  .products-container.catalog {
    grid-template-rows: repeat(2, 1fr) !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .heading {
    padding-inline: var(--md-padding) !important;
  }
  .heading .title {
    font-size: var(--md-heading1) !important;
  }

  /* -x- Catalog Header -x- */
  /* --- Products Catalog --- */
  .catalog-products {
    padding: var(--md-margin) var(--md-padding) !important;
  }
  .catalog-filters {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .search {
    width: 15rem !important;
  }
  .filter {
    width: 20rem !important;
  }
  .catalog-filters .bySort {
    margin-right: 1rem !important;
  }

  .catalog-filters .bySort h4 {
    font-weight: 400 !important;
  }

  .catalog-filters .filter h4 {
    font-size: var(--body4) !important;
  }

  .products-list {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1rem;
  }

  /* -x- Products Catalog -x- */

  /* ===========x============= CATALOG PAGE ============x=========== */

  /* =============================== News PAGE ===============================- */

  .news .newsList .card-info {
    display: block;
    width: 100%;
    padding-right: 0.5rem;
  }
  .news.newsList .card-info p {
    font-size: var(--body2) !important;
  }
  .news.newsList .card-image h5 {
    font-size: var(--body4) !important;
    text-align: left !important;
    bottom: 2rem !important;
  }

  /* ===============x================ News PAGE ==================x=============- */

  /* =============================== News Post PAGE ===============================- */

  .heading.post .title {
    width: 70% !important;
    font-size: var(--md-heading2) !important;
  }
  .heading.post {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: flex-end !important;
  }
  .heading.post .share {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 0 !important;
    margin-bottom: var(--sm-margin) !important;
  }
  .heading.post .share h4 {
    font-size: var(--body4) !important;
  }
  .heading.post .share .socials {
    gap: 1.5rem !important;
  }

  .post-pagination {
    /* width: 100%; */
    justify-content: space-between;
    border-top: 1px solid var(--secondary-gray);
    border-bottom: none !important;
  }

  .post-pagination .left,
  .post-pagination .right {
    gap: 1rem;
    padding: 1rem;
  }
  .post-pagination .left h5,
  .post-pagination .right h5 {
    font-size: var(--body2) !important;
    width: 12rem !important;
  }
  .post-pagination .line {
    display: none !important;
  }

  .post-bottom .share {
    margin: 1rem 0 !important;
    justify-content: center !important;
    gap: 4rem !important;
  }

  /* ===============x================ News Post PAGE ==================x=============- */
  /* ===============x================ Order Thanks PAGE ==================x=============- */
  .header-order,
  .footer-order {
    padding: 2rem 0 !important;
  }

  /* ===============x================ Order Thanks PAGE ==================x=============- */

  /* ===============================  Login PAGE ===============================- */
  .main {
    position: relative !important;
  }

  .back-to-home {
    width: 20rem !important;
    position: absolute !important;
    left: 2rem !important;
    top: 2rem !important;
  }
  .login,
  .register {
    margin: 10rem auto 3rem !important;
    width: 27rem !important;
  }

  /* ===============x================  Login PAGE ==================x=============- */

  /* ===============================  Product Order PAGE ==============================- */
  .product-image .card-image {
    width: 34rem !important;
    height: 38rem !important;
  }
  .small-image {
    width: 8rem !important;
    height: 8rem !important;
  }
  .product-detail .title {
    font-size: var(--md-heading3) !important;
  }

  .priceBox-bottom .product-count {
    flex: 0 !important;
  }
  .priceBox-bottom .product-count i:first-child {
    margin-right: 1rem !important;
  }
  .priceBox-bottom .product-count i:last-child {
    margin-left: 1rem !important;
  }
  .priceBox-bottom .btn {
    flex: 1;
    margin-left: 2rem !important;
  }

  .product-detail .share {
    justify-content: flex-start !important;
    gap: 4rem;
  }
  .product-header {
    flex-direction: row !important;
  }
  .product-header .title {
    flex: 1;
    text-align: left !important;
  }
  .product-header .btn {
    flex: 1;
  }

  /* ===============x================  Product Order PAGE ==================x=============- */
  /* =============================== Product Order PAGE ==============================- */

  .order-header .back-to-home {
    width: 28rem !important;
    position: static !important;
    margin: 2rem 0 0 !important;
  }
  .order-header .title {
    font-size: var(--md-heading2) !important;
  }
  .account-box {
    flex-direction: row !important;
    background-position: right 2rem !important;
  }
  .account-box .texts{
    text-align: left !important;
    align-items: flex-start !important;
    
  }
  .account-box .texts h5,
  .account-box .texts span{
    font-size: var(--body3) !important;
  }
  .info .header h4{
    font-size: var(--body6) !important;
  }
  .details .form{
    flex-direction: row !important;
  }
  .choice p{
    font-size: var(--body2) !important;
  }
  .choices{
    width:34rem !important;
  }


  .total{
    width: 34rem !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto;
  }

  /* =================x============= Product Order PAGE ===============x==============- */
  
  
  
  /* ============================== Profile PAGE =============================- */
  .profile .title{
    font-size: var(--md-heading1) !important;
  }
  .navigations{
    flex-direction: row !important;
    gap: 2rem !important;
  }
  .nav-btn{
    width: 14rem !important;
  }
 

  .profile .informations .header .right .greetings {
    font-size: var(--body4) !important;
  }
  
  .profile .informations .header .right .username {
    font-size: var(--body5) !important;
  }

  .profile .informations .details .form .col .nav-btn{
    width: 100% !important;
    height: 3rem !important;
  }




  /* =================x============= Profile PAGE ===============x==============- */









}

/* ========================================================== */
@media screen and (min-width: 800px) {
  .lg.nav-menu {
    left: 10rem;
  }
  .lg.nav-menu .nav-links {
    gap: 3rem !important;
  }
}
@media screen and (min-width: 900px) {
  .lg.nav-menu .nav-links {
    gap: 4rem !important;
  }
}
