/* For tablet type devices */

@media screen and (min-width: 768px) {
  header,
  section,
  footer {
    padding: 0 var(--md-padding) !important;
  }
  /* ----------------- Header ---------------- */

  #openedMenu {
    display: none !important;
  }
  .navbar-sm,
  .navbar-lg {
    display: none !important;
  }
  .logo,
  .navbar-md {
    display: block !important;
  }
  .navbar-md {
    margin: 2rem 0 1rem !important;
    padding-bottom: var(--md-margin) !important;
  }
  .nav-menu {
    flex-direction: row !important;
    font-weight: 500 !important;
    font-size: var(--body2) !important;
    gap: 2rem !important;
  }
  .nav-menu li a {
    color: var(--white-clr) !important;
  }
  .nav-menu li:hover a {
    background: -webkit-linear-gradient(
      25deg,
      var(--primary-brown),
      var(--secondary-brown)
    ) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent;
    text-decoration-color: var(--primary-brown) !important;
  }
  
  /* ---------- Hero Slider ---------- */
  .hero-slider {
    padding: 0 !important;
  }
  .hero-slider .navbar {
    padding: var(--sm-padding) var(--md-padding) !important;
  }
  .hero-slider  .hero-images {
    width: 27rem !important;
    height: 36rem !important;
  }
  .hero-slider  .lgHeroImg,
  .hero-slider  .smHeroImg {
    display: none !important;
  }
  .hero-slider  .mdHeroImg {
    display: block !important;
  }
  .hero-slider  .hero-info {
    width: 22rem !important;
    padding-left: var(--md-padding) !important;
  }
  .hero-slider  .hero-info h1 {
    font-size: var(--md-heading1) !important;
  }
  .hero-slider  .hero-info p {
    width: 100% !important;
    font-size: var(--body6) !important;
  }
  .hero-slider  .hero-info .btn {
    width: 100% !important;
  }
  .hero-slider  .hero-info .line {
    width: 24rem !important;
  }
  .hero-slider  .hero-price {
    width: 100% !important;
    justify-content: space-between !important;
    font-size: var(--body5) !important;
  }
  .hero-slider  .heroSwiper .swiper-pagination{
    margin-left: 3rem !important;
}

  /* ----x----- Hero Slider -----x---- */
  /* -----------------x---- Header ----------------x---- */

  /* ------------------- Main ------------------- */

  section {
    margin-bottom: 2rem;
  }
  .title{
    font-size: var(--md-heading3) !important;
  }
  .products-container {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
  }
  .product {
    height: 20rem !important;
  }
  .product-title {
    font-size: var(--body3) !important;
  }


  /* --- Banner Section --- */
.banner{
  height: 28rem !important;
}
  .banner-image{
    height: 100% !important;
    bottom: 0rem !important;
    right: -2rem !important;
    background-image: url('../assets/images/banner-md.png') !important;
   }

   .banner-title{
    font-size: var(--lg-heading1) !important;
  }
  .banner-header p{
    font-size: var(--body4) !important;
    width: 18rem !important;
  }
  .banner-header .btn{
    width: 22rem !important;
  }





  /* -x- Banner Section -x- */

  /* --------------------x---- Main -------------------x---- */

  /* ----------------------- Footer ---------------------- */

  .footer .bottom {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(1, 1fr) !important;
    gap: 2rem !important;
  }
  /* ----x------------------ Footer -----------------x---- */

  /* ========================= ABOUT PAGE ======================== */

  /* -------------- Main -------------- */

  .breadcrumb-menu {
    padding: var(--md-padding) var(--md-padding) 0 !important;
  }
  .breadcrumb-menu li a {
    font-size: var(--body3) !important;
  }

  /* ========================= CATALOG PAGE ======================== */

  /* --- Catalog Header --- */

  .products-container.catalog {
    grid-template-rows: repeat(2, 1fr) !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .heading {
    padding-inline: var(--md-padding) !important;
  }
  .heading .title {
    font-size: var(--md-heading1) !important;
  }

  /* -x- Catalog Header -x- */
  /* --- Products Catalog --- */
  .catalog-products {
    padding: var(--md-margin) var(--md-padding) !important;
  }
  .catalog-filters {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .search {
    width: 15rem !important;
  }
  .filter {
    width: 20rem !important;
  }
  .catalog-filters .bySort {
    margin-right: 1rem !important;
  }

  .catalog-filters .bySort h4 {
    font-weight: 400 !important;
  }

  .catalog-filters .filter h4 {
    font-size: var(--body4) !important;
  }

  .products-list {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1rem;
  }

  /* -x- Products Catalog -x- */

  /* ===========x============= CATALOG PAGE ============x=========== */

  
  /* ===============x================ Order Thanks PAGE ==================x=============- */
  .header-order,
  .footer-order {
    padding: 2rem 0 !important;
  }

  /* ===============x================ Order Thanks PAGE ==================x=============- */

  /* ===============================  Login PAGE ===============================- */
  .main {
    position: relative !important;
  }

  .back-to-home {
    width: 20rem !important;
    position: absolute !important;
    left: 2rem !important;
    top: -8rem !important;
  }
  .login,
  .register {
    margin: 10rem auto 3rem !important;
    width: 27rem !important;
  }

  /* ===============x================  Login PAGE ==================x=============- */

 

  
}


/* ========================================================== */
@media screen and (min-width: 800px) {
  .lg.nav-menu {
    left: 10rem;
  }
  .lg.nav-menu .nav-links {
    gap: 3rem !important;
  }
}
@media screen and (min-width: 900px) {
  .lg.nav-menu .nav-links {
    gap: 4rem !important;
  }
}
