.orders .title,
.wish-list .title {
  font-size: var(--body5);
  text-align: left;
  padding: 1rem 0 2rem;
}
.orders .product-basket-list {
  height: 30rem;
}
.orders .product-basket {
  width: 100%;
  height: 14rem;
}
.orders .product-basket .row:not(:nth-child(1)) {
  padding-right: 1rem;
}
.orders .product-basket .row {
  justify-content: space-between;
}

.product-basket .row .time {
  font-size: var(--body4);
  font-weight: 600;
  color: var(--primary-green);
}
.product-basket .row .state {
  font-weight: 800;
  font-size: var(--body3);
}
.product-basket .row .state.success {
  color: var(--blue-clr);
}
.product-basket .row .state.danger {
  color: var(--red-clr);
}
.product-basket .row .state.pending {
  color: var(--yellow-clr);
}
.product-basket .row .state.accepted {
  color: var(--secondary-green);
}

@media (min-width: 768px) {
  .orders .product-basket-list {
    padding-top: 5rem;
  }
  .orders .product-basket .row:nth-child(2) {
    flex-direction: column;
  }
  .orders .product-basket .row {
    margin-right: 0;
  }
}
