@import url('index.css');
@import url("reset.css");

.about-hero{
  width: 100%;
  height: 45rem;
  background-image: url('../assets/images/aboutHeroBG.png');
  position: relative;
  z-index: 38;
}
.about-heroImages{
  width: 100%;
  height: 20rem;
  background-image: url('../assets/images/aboutHero-sm.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 2rem;
  z-index: 40;
}

.about-hero .top{
  /* width: 30rem; */
  width: 100%;
}
.quote-sentence h2{
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: inline-flex;
  align-self: center;
  font-style: italic;
  line-height: 1.5;
  margin: 0 1rem;
  background: -webkit-linear-gradient(
      25deg,
      var(--primary-brown),
      var(--secondary-brown)
    ) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent;
    text-decoration-color: var(--primary-brown) !important;
}
.quote-sentence{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quote-right{
  display: flex;
  align-self: flex-end;
}
.sign-container{
  display: flex;
  align-items: center;
  width: 11rem;
  gap: 2rem;
  margin: 2rem 0;
}
.sign-container h4{
  background: -webkit-linear-gradient(
    25deg,
    var(--primary-brown),
    var(--secondary-brown)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: transparent;
  text-decoration-color: var(--primary-brown) !important;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--body2);
}

.about-hero .top .title{
  width: 12rem;
  text-align: left;
  border-bottom: 1px solid var(--primary-green);
  padding-bottom: 1rem;
  margin: 2rem 0;
}








@media (min-width: 768px) {
  .about-heroImages{
    height: 26rem !important;
    background-image: url('../assets/images/aboutHero-md.png') !important;
    background-position: right bottom !important;
  }

  .about-hero .top{
    width: 26rem !important;
    margin-right: 2rem !important;
  }
  .quote-sentence h2{
    font-size: 32px !important;
    }
    .about-hero .top .title{
      width: 100% !important;
    }
 
}
@media (min-width: 1040px) {
  .about-heroImages{
    height: 30rem !important;
    background-image: url('../assets/images/aboutHero-lg.png') !important;
    background-position: top right !important;
  }
  .about-hero .top{
    width: 36rem !important;
  }
  .quote-sentence h2{
    font-size: 50px !important;
    line-height: 1 !important;
    }
}