:root {
    /* Margins and Paddings */
    --sm-padding: 1rem;
    --md-padding: 2rem;
    --lg-padding: 3rem;
  
    --sm-margin: 1rem;
    --md-margin: 2rem;
    --lg-margin: 4rem;
  
    /* Colors */
  
    --white-clr: #fdfdfd;
    --black-clr: #272727;
    --red-clr: #9b0000;
    --blue-clr: #025E92;
    --yellow-clr: #7E9202;
  
    --primary-brown: #5e3928;
    --secondary-brown: #e4a16f;
  
    --primary-green: #031412;
    --secondary-green: rgba(75, 113, 89, 1);
  
    --secondary-gray: #c4c4c4;
    --secondary-lightGray: rgba(230, 232, 231, 1);
  
    /* Font Sizes */
  
    --lg-heading1: 6.25rem; /* 100px */
    --lg-heading2: 3.125rem; /* 50px */
  
    --md-heading1: 3.75rem; /* 60px */
    --md-heading2: 1.875rem; /* 30px */
    --md-heading3: 2.5rem; /* 40px */
    --md-heading4: 6.25rem; /* 100px */
  
    --sm-heading1: 2rem; /* 32px */
    --sm-heading2: 1.25rem; /* 20px */
  
    --body1: 0.75rem; /* 12px */
    --body2: 1rem; /* 16px */
    --body3: 1.125rem; /* 18px */
    --body4: 1.25rem; /* 20px */
    --body5: 1.5rem; /* 24px */
    --body6: 2rem; /* 32px */
  
    /* Font Family */
    --font-texts: "Montserrat", sans-serif;
    --font-headings: "Domine", serif;
  }